*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus {
    border: solid var(--clr-sec);
}

:root {
    /* colors */
    --bg-color: #2b2b2b;
    --bg-med: #3d3d3d;
    --bg-light: #ddd;
    --clr-pri: #2F2294;
    --clr-pri-light: #4834E0;
    --clr-pri-dark: #1e155b;
    --clr-sec: #00ff98;
    --clr-sec-dark: #1B947B;
    --accent: #750415;
    /*--font-size */
    --fs-h1: 4.7rem;
    --fs-h2: 3rem;
    --fs-h3: 1.75rem;
    --fs-h4: 1rem;
    /*font weight  */
    --fw-reg: 300;
    --fw-med: 500;
    --fw-bold: 800;  
}

/* Mobile */

@media screen and (max-width: 450px)  { 
    section {
        padding: 0 ;
    }
}

@media screen and (min-width: 450px) {
    section {
        padding: 0 2.5rem;
    }
}

@media screen and (min-width: 1000px){
    :root {
        --fs-h1: 5.5rem;
        --fs-h2: 4rem;
        --fs-h3: 2.5rem;
        --fs-h4: 1.5rem;
        --fs-body: 1.125rem;
    }
    section {
        padding: 0 5rem;
    }

}

html,
body {
    background-color: var(--bg-color);
    background-image: url("https://www.transparenttextures.com/patterns/dark-tire.png");
    color: #ffff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
 body {
     overflow-x: hidden;
 }

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin-block-end: 0;
    margin-block-start: 0;
}

li {
    list-style: none;
}

h1 {
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
    font-weight: var(--fw-reg);
}
h3 {
    font-size: var(--fs-h3);
    font-weight: var(--fw-med);
    margin-block-start: .3em;
    margin-block-end: .3em;
}
h4 {
    font-size: var(--fs-h4);
    font-weight: var(--fw-reg);
}
h6 {
    font-size: 0.8rem;
    font-weight: var(--fw-reg);
    margin: 0;
}

header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--clr-pri-dark);
    width: 100%;
    height: 10vh;
}

.divider {
    height: 1px;
    width: 90%;
    background-color: var(--bg-color);
    padding: 0;
    margin: auto;
}
.hidden {
    visibility: hidden;
}

/* --------- HAMBURGUER MENU --------- */

.hamburguer {
    cursor: pointer;
    z-index: 4;
    height: 50px;
    width: 50px;
    margin: 20px;
    transition: all .2s ease-out;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hamburguer .hamburguer__stripe {
    width:70%;
    height: 4px;
    background: white;
    margin: 2px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
}

.hamburguer.on {
    position: fixed;
    transform: translateY(8px);
}
.hamburguer.on .hamburguer__stripe__top {
  transform: rotate(45deg) translate(2px, 1px);
}

.hamburguer.on .hamburguer__stripe__middle {
  opacity: 0;
}

.hamburguer.on .hamburguer__stripe__bottom {
  transform: rotate(-45deg) translate(10px, -10px);
}

.hamburguer.floatMenu {
    z-index: 4;
    padding: 4px;
    position: fixed;
    background-color: var(--clr-pri);
    transform: translateY(2vw);
    border-radius: 30%;
    height: 50px;
    width: 50px;
}

/* --------- DRAWER MENU --------- */

.drawer__menu{
    font-size: var(--fs-h2);
    position: fixed;
    z-index: 4;
    margin: 0;
    visibility: hidden;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.drawer__menu.open{
    overflow: hidden;
    visibility: visible;
}
.drawer__layout {

    position: relative;
    height: 100%;
    width: 100%;
}


.drawer__bg {
    height:100vh;
    background-color: black;
    width: 100%;
    opacity: 50%;
    display: none;
}
.drawer__bg.open {
    display: block;
    overflow: hidden;
}

.drawer__list {
    display: none;
    position: absolute;
    display: block;
    height: 100%;
    width: 75vw;
    visibility: hidden;
    top: 0;
    right: -75vw;
    background-color: var(--clr-pri-dark);
    transition: all .2s cubic-bezier(0.65, 0.05, 0.36, 1); 
}
.drawer__list.open{
    visibility: visible;
    right: 0;
    transition: all .2s cubic-bezier(0.65, 0.05, 0.36, 1); 
}
.drawer__list li:first-child {
    margin-top: 8vh;
}
.drawer__list li {
    margin: 5px 0; 
}

.drawer__list li:hover {
    color: var(--clr-sec);
}
/* --------- HERO SECTION --------- */

/* Mobile */

@media screen and (max-width: 450px)  { 
    .hero__img {
        height: 11rem;
        top: 11%;
        left: 40%;
        transform: translate(-50%, -50%);
    }
    .hero__text {
        border-top: solid;
        border-bottom: solid;
        border-right: solid;
        margin-top: 2rem;
        top: calc(80% - 45vh);
        width: 100vw;
    }

    .hero {
        margin: 0px 0px;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }
       .hero__circle-lg {
            transform: translate(-30vh, -6vh);
    }
}

/* Medium */

@media screen and (min-width: 450px) {
    .hero__img {
        height: 14rem;
        width: 14rem;

    }
    .hero__text {
        /* border: solid; */
        top: calc(100% - 50vh);

        }
    .hero {
        height: 100vh;
        flex-direction: column;
        align-items: center;
    }
       .hero__circle-lg {
            transform: translate(-50vh, -6vh);
    }
}



/* large */

@media screen and (min-width: 845px)  { 
     .hero__img {
        height: 18rem;
        width: 18rem;
    }
    .hero {
        height: 100vh;
        flex-direction: row;
        align-items: center;
    }
    .hero__text {
        top: calc(74% - 46vh);

    }
    .hero__circle-lg {
    transform: translate(-70vh, -6vh);
    }
}

/* Extra Large */

@media screen and (min-width: 1000px)  {
    .hero__img {
        height: 25rem;
        width: 25rem;
    }
    .hero {
        height: 100vh;
        flex-direction: row;
        align-items: center;
    }
    .hero__circle-lg {
        transform: translate(-90vh, -11vh);

    }

}

.hero__circle-lg {
    height: 100vh;
    width: inherit;
    position: absolute;
    z-index: 1;
    background-color: var(--bg-light);
    clip-path: circle(25% at 65% 41%);
    animation: hero__circle-lg 40s infinite;

}

@keyframes hero__circle-lg{
    0% {top: 0vh; left: -30vh;}
    10% {top: 2vh; left: -27vh;}
    20% {top: 4vh; left: -26vh;}
    30% {top: 6vh; left: -24vh;}
    50% {top: 7vh; left: -23vh;}
    60% {top: 9vh; left: -24vh;}
    70% {top: 7vh; left: -25vh;}
    80% {top: 6vh; left: -27vh;}
    90% {top: 3vh; left: -29vh;}
    100% {top: 0vh; left: -30vh;}
}

.hero__white__square {
    z-index: 2;
    position: absolute;
    height: 15vh;
    top: 95vh;
    border: solid magenta;
    background-color: white;
}

.hero {
    width: 100%;
    position: relative;
    justify-content: space-around;
    align-items: center;
    
}
.hero::before {
    content: "";
    position: absolute;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    left: 0;
    background: rgb(72,52,224);
    background: linear-gradient(357deg, rgba(72,52,224,1) -89%, rgba(27,19,84,1) 103%);
    clip-path: polygon(100% 0, 100% 33%, 0% 76%, 0 100%, 0% 0%);

}
.hero::after {
    content: "";
    height: 120vh;
    top: 0;
    position: absolute;
    right: 0;
    width: 150vw;
    margin: auto;
    background: rgb(72,52,224);
    background: linear-gradient(357deg, rgba(72,52,224,1) -89%, rgba(27,19,84,1) 103%);
    clip-path: polygon(100% 37%, 100% 0%, 100% 100%, 0px 100%, 0px 92%);

}

.hero__name {
    font-family: 'Lalezar', cursive;
    font-size: var(--fs-h1);
    text-align: end;
    text-shadow: 2px 2px var(--clr-sec-dark);
    line-height: 68px;
}

.hero__img{
    z-index: 2;
    position: absolute;
    overflow: hidden;
    border-radius:50%;
    box-shadow: 0px 0px 25px #000000;
    margin: 7vh;

}
.hero__img img{

    justify-content: center;
    align-items: center;
    height: inherit;
    width: inherit;

}
.hero__text {
    position: absolute;
    border-radius: 15px;
    right: 4rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: fit-content;
    padding: 2rem 1rem;
}
.hero__text h1{
    font-weight: var(--fw-med);
    font-size: var(--fs-h3);
    margin: 0;
    text-align: end;
}

/* ------------- ABOUT ------------- */

/* Mobile */

@media screen and (max-width: 450px)  {  
    .about {
        height: 75vh;
        padding: 0;
    }
}

/* Medium */

@media screen and (min-width: 450px) { 
  .about {
        height: 55vh;
        padding: 0;
    }
}

/* large */

@media screen and (min-width: 845px)  {
    .about {
        height: 70vh;
    }

}

/* Extra Large */

@media screen and (min-width: 1000px)  {

}

.about {
    display: flex;
    align-items: center;
    height: 90vh;
    width: 100vw;
    margin-top: 20vh;
    -webkit-box-shadow: inset -10px 29px 31px -25px black;
    -moz-box-shadow: inset -10px 29px 31px -25px black;
    box-shadow: inset -10px 29px 31px -25px black;
}


.about__description {
    margin: 0 2rem;
    /* padding: 9vh; */
}

.about__title {
    text-align: end;
}

/* ------------- My Services ------------- */


/* Mobile */

@media screen and (max-width: 526px)  {  

    .services {
        height: 90vh;
    }

    .services__greenBlock.onScreen{
        left: 4rem;
    }
}

/* Medium */

@media screen and (min-width: 526px) { 
    .services {
        height: 70vh;
    }
}

/* large */

@media screen and (min-width: 845px)  {
   
    .services__greenBlock.onScreen{
        left: -3rem;
    }
}

/* Extra Large */

@media screen and (min-width: 1100px)  {
    .services {
        height: 45vh;
    }
}
.services {
    width: 100%;
    position: relative;
}

.services__greenBlock{
    height: fit-content;
    width: 100%;
    position: absolute;
    left: -50rem;
    border-radius: 15px;
    top: 0rem;
    background-color: var(--clr-sec);
    background: radial-gradient(ellipse 58% 71%, var(--clr-sec) 65%, rgba(37,215,179,1) 100%);
    transition: left .9s ease-out;
    -webkit-box-shadow: -10px 29px 31px -25px black;
    -moz-box-shadow: -10px 29px 31px -25px black;
    box-shadow: -10px 29px 31px -25px black;
}

.services__greenBlock.onScreen{
    left: -3rem;
}

.services__group {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 7rem;
    padding-inline-start: 0;
}

.services__item {
    text-align: center;
    margin: 2rem;
    font-size: 3em;
    flex-basis: 8%;
}

/* ------------- My Work ------------- */


/* Mobile */

@media screen and (max-width: 550px)  {  
       .myWork__item {
           flex: 0 0 80%;
   }

}

/* Medium */

@media screen and (min-width: 550px) { 
    .myWork__item {
           flex: 0 0 40%;
   }
}

/* large */

@media screen and (min-width: 845px)  {
   .myWork__item {
           flex: 0 0 30%;
   }

}

/* Extra Large */

@media screen and (min-width: 1000px)  {
    .myWork__item:nth-child(3n) {
    margin-right: 0;
}
}

.myWork {
    height: fit-content;
    width: 100vw;
}

.myWork__container {
    background-color: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    -webkit-box-shadow: -10px 29px 31px -25px black;
    -moz-box-shadow: -10px 29px 31px -25px black;
    box-shadow: -10px 29px 31px -25px black;
}
.myWork__container h2{
    margin-inline-start: 3rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

.myWork__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2.5em;
}
.myWork__item {
    background-color: var(--bg-med);    
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    margin: .5em;
    transition: linear .13s;
    transform: scale(0.7);
}
.myWork__item.onViewport {
    transform: scale(1);
    transition: linear .05s;
}
.myWork__item:hover{
    transform: scale(1.3);
    z-index: 3;
    transition: linear .13s;
}
.myWork__item h5 {
    padding: 1em;
    margin: 0;
    position: relative;
}
.myWork__item h5 i {
    position: absolute;
    right: 4px;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 11px;
    transition: linear .13s;
}

.myWork__item__description {
    visibility: hidden;
    height: 0px;
    width: 0px;
}
.myWork__item__description.open {
    height: fit-content;
    width: fit-content;
    padding: 1em;
    margin: 0;
    font-size: small;
    visibility: visible;
    transition: linear .13s;
}
.myWork__item img {
    height: 15vh;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}



/* ------------- footer ------------- */

@media screen and (max-width: 450px)  {  


}

/* Medium */

@media screen and (min-width: 450px) { 
 
}

/* large */

@media screen and (min-width: 845px)  {
   

}

/* Extra Large */

@media screen and (min-width: 1000px)  {

}

footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    flex-direction: column;
}

footer h4 {
    z-index: 2;
}
footer h4:hover {
    z-index: 2;
    text-shadow: 1px 3px var(--clr-sec-dark);
}
.footer__group {
    display: flex;
    padding-inline-start: 0;
    flex-direction: row;
}
.footer__email {
    display: inline;
    margin: auto;
}

.footer__item {
    margin: 2rem;
    font-size: 3em;
}

.footer__item:hover {
    text-shadow: 1px 3px var(--clr-sec-dark);
}

.polygone__circle-lg {
    z-index: 0;
    height: 15rem;
    width: 15rem;
    position: absolute;
    bottom: -5rem;
    left: -3rem;
    background-color: var(--bg-light);
    clip-path: circle(50% at 50% 50%);
    animation: circle-lg 140s infinite 2s;
}

.polygone__circle-md{
    z-index: -1;
    height: 9rem;
    width: 9rem;
    position: absolute;
    bottom: -1rem;
    left: 10rem;
    background-color: var(--clr-pri-dark);
    clip-path: circle(50% at 50% 50%);
    animation: circle-md 90s infinite;
}

.polygone__circle-sm {
    z-index: 1;
    height: 3rem;
    width: 3rem;
    position: absolute;
    bottom: 9rem;
    left: 10rem;
    background-color: var(--clr-sec);
    clip-path: circle(50% at 50% 50%);
    animation: circle-sm 100s infinite;

}

@keyframes circle-sm {
    0%   {top: 5rem;}
    15%   {top: 6rem; left: 5rem;}
    25%  {top: 10rem; left: 8rem;}
    45%  {top: 12rem; left: 13rem;}
    60%  {top: 11rem; left: 4rem;}
    75%  {top: 8rem; left: 2rem;}
    100% {top: 5rem;}
}
@keyframes circle-lg {
    0%   {bottom: -5rem;}
    25%  {bottom: -3rem; left: 1rem;}
    50%  {bottom: 0rem; left: 0rem;}
    75%  {bottom: -2rem; left: -1rem;}
    100% {bottom: -5rem;}
}

@keyframes circle-md {
    0% {bottom: -3rem; left: 10rem;}
    50% {bottom: 5rem; left: 10rem;}
    100% {bottom: -3rem; left: 10rem;}
}

.footer::after {
    content: "";
    width: 100vw;
    height: 10rem;
    position: absolute;
    bottom: -5rem;
    background-color: var(--clr-pri-light);
    clip-path: polygon(100% 0%,100% 0%,100% 100%,0% 100%, 0 60% );
}