*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* colors */
    --bg-color: #2b2b2b;
    --bg-light: #ddd;
    --clr-pri: #2F2294;
    --clr-pri-light: #4834E0;
    --clr-pri-dark: #1B1354;
    --clr-sec: #00ff98;
    --clr-sec-dark: #1B947B;
    --accent: #750415;
    /*--font-size */
    --fs-h1: 4rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    /*font weight  */
    --fw-reg: 300;
    --fw-med: 500;
    --fw-bold: 800;
    /*--breakpoints- */
    /*--shadow- */
    
}
@media screen and (min-width: 1000px){
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.50rem;
        --fs-body: 1.125rem;
    }

}

html,
body {
    background-color: var(--bg-color);
    background-image: url("https://www.transparenttextures.com/patterns/dark-tire.png");
    color: #ffff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
 body {
     overflow-x: hidden;
 }

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: var(--clr-sec);
}
ul {
    margin-block-end: 0;
    margin-block-start: 0;
}

li {
    list-style: none;
}

h1 {
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
    font-weight: var(--fw-med);
}

header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--clr-pri-dark);
    width: 100%;
    height: 10vh;
}
section {
    padding: 0 5rem;
}



/* --------- HAMBURGUER MENU --------- */

.hamburguer {
    cursor: pointer;
    z-index: 4;
    height: 50px;
    width: 50px;
    margin: 20px;
    transition: all .2s ease-out;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hamburguer .hamburguer__stripe {
    width:70%;
    height: 4px;
    background: white;
    margin: 2px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
}

.hamburguer.on {
    position: fixed;
    transform: translateY(8px);
}
.hamburguer.on .hamburguer__stripe__top {
  transform: rotate(45deg) translate(2px, 1px);
}

.hamburguer.on .hamburguer__stripe__middle {
  opacity: 0;
}

.hamburguer.on .hamburguer__stripe__bottom {
  transform: rotate(-45deg) translate(10px, -10px);
}

.hamburguer.floatMenu {
    z-index: 4;
    padding: 11px;
    position: fixed;
    background-color: var(--clr-pri);
    transform: translateY(2vw);
    border-radius: 30%;
    height: 70px;
    width: 70px;
}

/* --------- DRAWER MENU --------- */

.drawer__menu{
    font-size: var(--fs-h2);
    position: fixed;
    z-index: 4;
    margin: 0;
    visibility: hidden;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.drawer__menu.open{
    overflow: hidden;
    visibility: visible;
}
.drawer__layout {

    position: relative;
    height: 100%;
    width: 100%;
}


.drawer__bg {
    height:100vh;
    background-color: black;
    width: 100%;
    opacity: 50%;
    display: none;
}
.drawer__bg.open {
    display: block;
    overflow: hidden;
}

.drawer__list {
    display: none;
    position: absolute;
    display: block;
    height: 100%;
    width: 75vw;
    visibility: hidden;
    top: 0;
    right: -75vw;
    background-color: var(--clr-pri-dark);
    transition: all .2s cubic-bezier(0.65, 0.05, 0.36, 1); 
}
.drawer__list.open{
    visibility: visible;
    right: 0;
    transition: all .2s cubic-bezier(0.65, 0.05, 0.36, 1); 
}
.drawer__list li:first-child {
    margin-top: 8vh;
}
.drawer__list li {
    margin: 5px 0; 
}
/* --------- HERO SECTION --------- */

/* Mobile */

@media screen and (max-width: 450px)  { 
    .hero__img {
        height: 15rem;
        margin: 40px;
    }
    .hero__text {
        width: 100vw;
        border-top: solid;
        border-bottom: solid;
        border-right: solid;
    }
    .hero__name {
        font-size: 70px;
        line-height: 58px;
        margin-top: 20px;
        text-align: end;
    }
    .hero {
        margin: 0px 0px;
        height: 115vh;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }
}

/* Medium */

@media screen and (min-width: 450px) {
    .hero__img {
        height: 20rem;
        margin: 7vh;
    }
    .hero__text {
        border-top: solid;
        border-bottom: solid;
        border-right: solid;
        }
    .hero {
        height: 120vh;
        flex-direction: column;
        align-items: center;
    }
}



/* large */

@media screen and (min-width: 845px)  { 
     .hero__img {
        height: 20rem;
        width: 20rem;
    }
    .hero__text {
        border: solid;
        
    }
    .hero {
        height: 100vh;
        flex-direction: row;
        align-items: center;
    }

}

/* Extra Large */

@media screen and (min-width: 1000px)  {
    .hero__img {
        height: 30rem;
        width: 30rem;
    }
    .hero {
        height: 100vh;
        flex-direction: row;
        align-items: center;
    }

}

.circle {
    height: 100vh;
    width: inherit;
    position: absolute;
    z-index: 1;
    background-color: white;
    clip-path: circle(35% at 40% 50%);
    transform: translate(-60vh, 9vh);
}


.hero {
    width: 100%;
    position: relative;
    justify-content: space-around;
    align-items: center;
    
}

.hero__polygonLeft {
    position: absolute;
    z-index: 0;
    height: 143vh;
    width: 100vw;
    left: 0;
    background: rgb(72,52,224);
    background: linear-gradient(357deg, rgba(72,52,224,1) -89%, rgba(27,19,84,1) 103%);
    clip-path: polygon(100% 0, 100% 50%, 0% 100%, 0 100%, 0 0);
}

.hero__polygonRight {
    height: 170vh;
    top: 0;
    position: absolute;
    right: 0;
    width: 150vw;
    margin: auto;
    background: rgb(72,52,224);
    background: linear-gradient(357deg, rgba(72,52,224,1) -89%, rgba(27,19,84,1) 103%);
    clip-path: polygon(100% 46%, 100% 0%, 100% 100%, 0 100%, 0 111%);
}
.hero__name {
    font-family: 'Lalezar', cursive;
    font-size: var(--fs-h1);
    text-align: end;
    text-shadow: 2px 2px var(--clr-sec-dark);
    margin-top: 30px;
    line-height: 60px;
}

.hero__img{
    z-index: 2;
    position: absolute;
    overflow: hidden;
    border-radius:50%;
    box-shadow: 0px 0px 25px #000000;
    margin: 7vh;

}
.hero__img img{

    justify-content: center;
    align-items: center;
    height: inherit;
    width: inherit;

}
.hero__text {
    position: absolute;
    border-radius: 15px;
    right: 6rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: fit-content;
    top: calc(100% - 56vh);
    padding: 50px 10px;
}
.hero__text h1{
    font-weight: var(--fw-med);
    font-size: var(--fs-h3);
    margin: 0;
    text-align: end;
}

/* ------------- ABOUT ------------- */

/* Mobile */

@media screen and (max-width: 450px)  {  
    .about {
        height: 55vh;
    }
}

/* Medium */

@media screen and (min-width: 450px) { 
  .about {
        height: 55vh;
    }
}

/* large */

@media screen and (min-width: 845px)  {
    .about {
        height: 70vh;
    }

}

/* Extra Large */

@media screen and (min-width: 1000px)  {

}

.about {
    width: 100vw;
    -webkit-box-shadow: -10px 29px 31px -25px black;
    -moz-box-shadow: -10px 29px 31px -25px black;
    box-shadow: -10px 29px 31px -25px black;
}


.about__description {
    position: absolute;
    padding: 9vh;
}

.about__title {
    text-align: end;
}

/* ------------- My Services ------------- */


/* Mobile */

@media screen and (max-width: 450px)  {  

       .services__greenBlock.onScreen{
        left: 2rem;
    }
}

/* Medium */

@media screen and (min-width: 450px) { 
 
}

/* large */

@media screen and (min-width: 845px)  {
   
    .services__greenBlock.onScreen{
        left: -5rem;
    }
}

/* Extra Large */

@media screen and (min-width: 1000px)  {

}
.services {
    height: 70vh;
    width: 100%;
    position: relative;
}

.services__greenBlock{
    height: 20rem;
    width: 100%;
    position: absolute;
    left: -50rem;
    border-radius: 15px;
    top: 5rem;
    background-color: var(--clr-sec);
    transition: left .9s ease-out;
    -webkit-box-shadow: -10px 29px 31px -25px black;
    -moz-box-shadow: -10px 29px 31px -25px black;
    box-shadow: -10px 29px 31px -25px black;
}

.services__greenBlock.onScreen{
    left: -5rem;
}

.services__group {
    border: solid magenta;
    display: flex;
    margin-left: 7rem;
    padding-inline-start: 0;
    flex-direction: row;

}

.services__item {
    border: solid salmon;
    margin: 2rem;
    font-size: 3em;
}

/* ------------- My Work ------------- */


/* Mobile */

@media screen and (max-width: 450px)  {  


}

/* Medium */

@media screen and (min-width: 450px) { 
 
}

/* large */

@media screen and (min-width: 845px)  {
   

}

/* Extra Large */

@media screen and (min-width: 1000px)  {
    .myWork__item:nth-child(3n) {
    margin-right: 0;
}
}

.myWork {
    height: fit-content;
    width: 100vw;
}

.myWork__container {
    background-color: rgba(0,0,0,0.3);
    border-radius: 15px;
    margin: 7rem 0 0;
    -webkit-box-shadow: -10px 29px 31px -25px black;
    -moz-box-shadow: -10px 29px 31px -25px black;
    box-shadow: -10px 29px 31px -25px black;
}

.myWork__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3em;
}
.myWork__item {
    text-align: center;
    text-indent:10%;
    border: solid salmon;
    border-radius: 25px;
    height: 15vh;
    flex: 0 0 23%;
    display: inline;
    text-align: center;
    margin: 1em;
}



/* ------------- footer ------------- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    flex-direction: column;
}

footer h3 {
margin: 0;
}
.footer__group {
    display: flex;
    padding-inline-start: 0;
    flex-direction: row;
}
.footer__email {
    display: inline;
    margin: auto;
}

.footer__item {
    margin: 2rem;
    font-size: 3em;
}