
ul {
  margin-block-end: 0;
  margin-block-start: 0;
  list-style-type: none;
}

li {
  list-style: none;
}
/* Mobile */

@media screen and (max-width: 700px)  {  
    .myWork__item {
        /* padding-top: 2rem; */
        padding: 2rem;
    }
    .myWork__item__description {
        padding: 0;
        margin-top: 1rem;
    }

    .myWork__item__cover.open {
    /* flex: 1; */
    flex-direction: column;
    display: flex;
    height: max-content;
    /* margin-block: 2rem; */
    text-align: start;
}
}

/* Medium */

@media screen and (min-width: 700px) { 
    .myWork__item {
        padding-top: 2rem;
        padding: 3rem;

   }
    /* .myWork__item.open.right-column {
        transform: translateX(-50vw);
        transition: ease-out .31;
    } */
    
    .myWork__item img {
        flex: 1;
        /* max-width:30% */
    }
    .myWork__item__cover.open {
    /* flex: 1; */
    flex-direction: row;
    display: flex;
    margin-block: 2rem;
    text-align: start;
}
}

/* large */

@media screen and (min-width: 891px)  {
   .myWork__item__description {
        flex: 1;
    }
    
}

/* Extra Large */

@media screen and (min-width: 1000px)  {
    .myWork__item__description {
        margin-top: 0;
    }
    
}


.myWork__item{
    padding: 3rem
}

.myWork__item.open {
    background-color: var(--bg-med);
    display: flex;
    padding: 3rem;
    flex-basis: 100%;
    text-align: center;
    transition: ease-out .1s;
    max-height: fit-content;
}


.myWork__item h5 {
    margin: 1rem 0;
    width: 100%;
    padding: 2rem;
} 
.myWork__item.open h5 {
    position: absolute;
    top: 0;
    text-align: center;
    right: 0
}    
.myWork__item:hover{
    transform: scale(1.02);
    z-index: 3;
    transition: ease-in-out .13s;
}


.myWork__item__description {
    transition: ease-in-out .13s;
    margin-block: .5rem;
}
.myWork__item__description h6 {
    margin-block: 1rem;
}

.myWork__item img {
    /* max-height: 40vh;
    max-width: 60vw; */
    margin: 1rem 0 .5rem 0;
    width: 100%;
    flex: 1;
    border-radius: 3px;
    filter: drop-shadow(0px 0px 5px black);
}
.myWork__item.open img {
    margin: 0;
}

.myWork__item__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction:row-reverse;
    align-items: baseline;
}

.myWork__item__description__open-button {
    background-color: inherit;
    color: inherit;
    border: 0;
    padding: 0;
    font-weight: 700;
    font-family: 'Montserrat';
    font-size: x-small;
    /* margin: 1rem 0; */
    cursor: pointer;
}
.myWork__item__description__open-button:hover {
    color: var(--clr-sec);
}


.myWork__item__more-info__group.hidden {
    display: none;
}

.myWork__item__cover.open img{
    max-height: 45vh;
    max-width: 30vw;
    min-width: 19vh;
    margin-right: 1rem;
    width: 90%;
}

.myWork__item__more-info__item {
    display: flex;
    text-align: start;
    flex: 1;
    transition: ease-in-out .2s;
    margin: 1rem 0;
    padding-inline-start: 0;
}
.myWork__item__more-info__item img {
    filter: drop-shadow(0px 0px 1px black);
    max-width: 19vh;
    width: 30rem;
    max-height: 19vh;
    margin: 0;
    cursor: pointer;
}
.myWork__item__more-info__item h6 {
    margin: 10px 
}
.myWork__item__more-info__item img:hover {
    transform: scale(1.2);
    transition: ease-in-out .1s;
}
.tools__icons{
    height: max-content;
    width: max-content;
}


.tools__icons__group {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--clr-sec-dark);
    border-radius: 7px 17px 7px 17px;
    padding-inline: 7px;
    mix-blend-mode: luminosity;
}
.tools__icons__item {
    text-align: center;
    border-radius: 7px 17px 7px 17px;
    color: white;
    padding: .2rem;
    border-radius: 5px;
    margin: .2rem;
    font-size: 20px;
}
.tools__icons__item p {
    font-weight: var(--fw-reg);
    font-size: x-small;
}

.myWork__item__code__button {
    background-color: inherit;
    color: inherit;
    border: 0;
    padding: 5px;
    font-weight: 600;
    font-family: 'Montserrat';
    border: solid var(--clr-sec) 2px;
}
.myWork__item__code__button:hover{
    background-color: var(--clr-sec);
    color: white;
}


.zoomedImg {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.8);
    z-index: 5;
}
.zoomedImg img{
    width: 70%;

}